<extend name="common:commonTemplate" />
<block name="main_content">
	<div id="content">
		<!--breadcrumbs-->
		<div id="content-header">
			<div id="breadcrumb">
				<a href="#" title="Go to Home" class="tip-bottom"><i
					class="icon-home"></i> 概述</a>
			</div>
		</div>
		<!--End-breadcrumbs-->

		<!--Action boxes-->
		<div class="container-fluid">
			 欢迎来到系统管理
			<!--End-Action boxes-->

			<!--End-Chart-box-->

			<!--end-main-container-part-->

			<!--Footer-part-->

			<div class="row-fluid">
				<div id="footer" class="span12">
					2016 &copy; 微鲸科技有限公司 <a
						href="http://www.whaleyinfo.cn/">whaleyinfo.cn</a>
				</div>
			</div>

			<!--end-Footer-part-->
		</div>
	</div>
</block>		
