<extend name="common:commonSimpleTemplate" />
<block name="main_content">
<div id="content">
<div id="content-header">
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
					<div class="widget-title">
						<span class="icon"> <i class="icon-info-sign"></i>
						</span>
						<h5>搜索条件</h5>
					</div>
					<div class="widget-content nopadding">
						<form novalidate="novalidate" id="basic_validate"
							name="basic_validate" action="#" method="post"
							class="form-horizontal">
							<div class="control-group">
								<label class="control-label">菜单ID：</label>
								<div class="controls">
									<input type="text" id="menu_id" name="menu_id">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">菜单名称：</label>
								<div class="controls">
									<input type="text" id="menu_name" name="menu_name">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">菜单域</label>
								<div class="controls">	
									<select id="menu_domain" >
									   <option value="">---请选择---</option>
									   <volist name="lst_menu_domain" id="parent_domain">
											<option value="{$parent_domain.domain_url}">{$parent_domain.domain_name}</option>
										</volist>
									</select>
								</div>
							</div>
							
							<div class="control-group">
								<label class="control-label">父节点</label>
								<div class="controls">
								<select id="parent_id" >
									<option value="">---请选择---</option>
								   	<volist name="lst_menu_resource" id="parent_menu">
										<option value="{$parent_menu.menu_id}">{$parent_menu.menu_name}</option>
									</volist>
								</select>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">页面等级：</label>
								<div class="controls">
                                    <select id="level" >
                                    <option value="">---全部---</option>
									<option value="1">一级菜单</option>
									<option value="2">二级菜单</option>
								</select>
								</div>
							</div>
							<div class="form-actions">
								<input id="btn_menu_search" type="button" class="btn btn-success" value="搜索">
								<input id="btn_menu_add"   type="button" class="btn btn-success" value="新增">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	
	<div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
            <h5>搜索结果</h5>
          </div>
          <div class="widget-content nopadding">
            <table id="search_result" page_index="1" class="table table-bordered table-striped">
              <thead>
                <tr>
				<th><input type='checkbox' id='allCheck' style="position:relative;width: 50px; opacity: 100;"></th>
                  <th>菜单名称</th>
                  <th>菜单域</th>
                  <th>菜单域描述</th>
                  <th>菜单链接</th>
                  <th>页面等级</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
      </div>
    </div>
	</div>
</div>
</block>

<block name="inner_script">
<script src="/Public/js/ajaxService.js"></script>
<script src="/Public/js/menugrouprelation.js"></script>
</block>