<extend name="common:commonTemplate" />
<block name="main_content">
<div id="content">
	<div id="content-header">
		<div id="breadcrumb">
			<a class="tip-bottom" href="index.html"
				data-original-title="Go to Home"><i class="icon-home"></i> 首页</a>
			<a href="#">权限管理</a> <a class="current" href="#">个人权限管理</a>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
					<div class="widget-title">
						<span class="icon"> <i class="icon-info-sign"></i>
						</span>
						<h5>搜索条件</h5>
					</div>
					<div class="widget-content nopadding">
						<form novalidate="novalidate" id="basic_validate"
							name="basic_validate" action="#" method="post"
							class="form-horizontal">
							<div class="control-group">
								<label class="control-label">用户名称：</label>
								<div class="controls">
									<input type="text" id="user_name" name="required">
								</div>
							</div>
							<div class="form-actions">
								<input id="btn_search" type="button" class="btn btn-success" value="搜索">
								
								<input id="btn_add" style="background:red"  type="button" class="btn btn-success" value="添加页面">
								<input type="text" id="group_menu_relation_text" readonly="readonly" />
								<input type="hidden" id="hidden_menu_relation_text" />
							    <input id="btn_submit" style="background:red"  type="button" class="btn btn-success" value="提交">
								
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	
	<div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
            <h5>搜索结果</h5>
          </div>
          <div class="widget-content nopadding">
            <table id="search_result" page_index="1" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>用户名</th>
                  <th>菜单名</th>
                  <th>菜单等级</th>
                  <th>菜单域</th>
                  <th>操作<th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>

      </div>
    </div>
	
	</div>


</div>
</block>

<block name="js_content">
<script src="/Public/js/userrule.js"></script>
<script src="/Public/assets/js/layer/layer.js"></script>
</block>