<!DOCTYPE html>
<html lang="en">
    
<head>
        <title>Matrix Admin</title><meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/Public/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/Public/css/bootstrap-responsive.min.css" />
        <link rel="stylesheet" href="/Public/css/matrix-login.css" />
        <link href="/Public/font-awesome/css/font-awesome.css" rel="stylesheet" />
    </head>
    <body>
        <div id="loginbox">            
            <form id="loginform" class="form-vertical" action="http://themedesigner.in/demo/matrix-admin/index.html">
				 <div class="control-group normal_text">
					<h3>
				 		微鲸电子发票下载
				 	</h3>
				 	<div style="color:red">(天猫官方旗舰店电子发票请至天猫订单详情中下载)</div>	
				 </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_lg"><i class="icon-user"></i></span><input type="text" id="telephone" placeholder="请输入收货人联系号码" />
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_ly"><i class="icon-lock"></i></span><input type="text" id="third_order_id" placeholder="请输入淘宝、官网或英雄会订单编号" />
                        </div>
                    </div>
                </div>
                
                <div class="form-actions">
                    
                    <span class="pull-right"><a id="downloadPdf" type="submit" href="#" class="btn btn-success" /> 下载发票</a></span>
                </div>
            </form>
        </div>
        
        <script src="/Public/assets/js/jquery.min.js"></script>  
        <script src="/Public/assets/js/matrix.login.js"></script> 
        	<script src="/Public/assets/js/bootstrap.min.js"></script>

	<!--page specific plugin scripts-->

	<!--[if lte IE 8]>
		  <script src="/Public/assets/js/excanvas.min.js"></script>
		<![endif]-->

	<script src="/Public/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
	<script src="/Public/assets/js/jquery.ui.touch-punch.min.js"></script>
	<script src="/Public/assets/js/jquery.slimscroll.min.js"></script>
	<script src="/Public/assets/js/jquery.easy-pie-chart.min.js"></script>
	<script src="/Public/assets/js/jquery.sparkline.min.js"></script>
	<script src="/Public/assets/js/flot/jquery.flot.min.js"></script>
	<script src="/Public/assets/js/flot/jquery.flot.pie.min.js"></script>
	<script src="/Public/assets/js/flot/jquery.flot.resize.min.js"></script>
	<script src="/Public/js/invoice.js"></script>
	 <script src="/Public/js/ajaxService.js"></script>
	
    </body>

</html>
