<extend name="common:commonTemplate" />
<block name="main_content">
<div id="content">
	<div id="content-header">
		<div id="breadcrumb">
			<a class="tip-bottom" href="index.html"
				data-original-title="Go to Home"><i class="icon-home"></i> 首页</a>
			<a href="#">权限管理</a> <a class="current" href="#">页面资源管理</a>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
				</div>
			</div>
		</div>
	<div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
            <h5>job详情</h5>
          </div>
          <div class="widget-content nopadding">
            <table id="search_result" page_index="1" class="table table-bordered table-striped">
	              <thead>
	                <tr>
	                  <th>job名称</th>
	                  <th>上次执行开始时间</th>
	                  <th>上次执行结束时间</th>
	                  <th>执行时间(秒)</th>
	                  <th>执行状态</th>
	                  <th>执行中成功次数</th>
	                  <th>执行中异常次数</th>
	                  <th>异常相关联的数据主键的集合</th>
	                </tr>
	              </thead>
	              <tbody>
	              </tbody>
            </table>
          </div>
      </div>
    </div>
	</div>
</div>
</block>

<block name="js_content">
<script>
jobdetail = {
	'BindEvent': function(){
			var html = '';
			<volist name="job_detail" id="job_detail">
				var tr_html = "<tr>";
				tr_html += "<td> {$job_detail.job_name} </td>";
				tr_html += "<td> {$job_detail.execute_start_date} </td>";
				tr_html += "<td> {$job_detail.execute_end_date} </td>"
				tr_html += "<td> {$job_detail.execute_time} </td>"
				tr_html += "<td> {$job_detail.execute_status} </td>"
				tr_html += "<td> {$job_detail.success_count} </td>"
				tr_html += "<td> {$job_detail.error_count} </td>"
				tr_html += "<td> {$job_detail.exception_param_list} </td>"
				tr_html += "</tr>";
				html += tr_html;
			</volist>
			$('#search_result tbody').html('');
			$('#search_result tbody').append(html);
		}
	};
	
	$(document).ready(function(){
		jobdetail.BindEvent();
	});
   </script>
</block>