
<!DOCTYPE html>
<html lang="en">
<head>
<title>{$page_name}</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/Public/assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="/Public/assets/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="/Public/assets/css/fullcalendar.css" />
<link rel="stylesheet" href="/Public/assets/css/matrix-style.css" />
<link rel="stylesheet" href="/Public/assets/css/matrix-media.css" />
<link rel="stylesheet" href="/Public/assets/css/jquery.gritter.css" />
<link href="/Public/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link rel="stylesheet" href="/Public/assets/css/loading.css" />
</head>
<body>
<div id="background" class="background" style="display: none; "></div> 
<div id="datagrid-mask-msg" class="datagrid-mask-msg" style="margin-left: -91.5px; display: none; left: 50%;">正在加载，请稍等...</div>
	<!--Header-part-->
	<div id="header" style="font-size: 27px">
		<br> <i style="color: #69aa46;" class="icon-leaf green"></i> <span
			style="color: #dd5a43;">微鲸</span> <span class="white">权限分配</span>
	</div>
	<!--close-Header-part-->

	<!--top-Header-menu-->
	<div id="user-nav" class="navbar navbar-inverse">
		<ul class="nav">
			<li class="dropdown" id="profile-messages"><a title="" href="#"
				data-toggle="dropdown" data-target="#profile-messages"
				class="dropdown-toggle"><i class="icon icon-user"></i> <span
					class="text">欢迎您 {$user_id}</span></a></li>
			<li class=""><a id="logout" title="" href="#"><i
					class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
					
			<li class=""><a id="shouPage" title="" href="#"><i
					class="icon icon-share-alt"></i> <span class="text">返回首页</span></a></li>
		</ul>
	</div>
	<!--close-top-Header-menu-->
	<!-- 隐藏域 -->
     <div class="control-group" style="display:none">
         <input type="text"  id="user_id" value="{$user_id}">
         <input type="hidden" id="menu_module" value="{$menu_module}">
         <input type="hidden"  id="menu_url" value="{$menu_url}">
	 </div>
	<!--sidebar-menu-->
	<div id="sidebar">
		<a href="#" class="visible-phone"><i class="icon icon-home"></i>
			Dashboard</a>
		<ul>
		 <volist name="lst_auth" id="parent_auth"
									empty="您没有任何权限，请联系管理员">
			<li module_id="{$parent_auth.parent_id}"  class="submenu">
			       <a href="#"> <i class="icon icon-inbox"></i>
					<span>{$parent_auth.parent_name}</span> <span class="label label-important"></span>
			       </a>
				<ul>
				
				<volist name="parent_auth['lst_menu2']" id="menu_detail"
									empty="您没有任何权限，请联系管理员">
							<li page_id="{$menu_detail.menu_url}">
								<a  href="{$menu_detail.menu_url}?menu_module={$parent_auth.parent_id}&menu_url={$menu_detail.menu_url}">
									<i class="icon-double-angle-right"></i>
									{$menu_detail.menu_name}
								</a>
							</li>		
					</volist>
				</ul>
			</li>
		</volist>
		</ul>
	</div>
	<!--sidebar-menu-->
	<block name="main_content"> </block>
	<script type="text/javascript" src="/Public/js/jquery-1.7.2.min.js"></script> 
	<script src="/Public/assets/js/jquery.ui.custom.js"></script> 
	<script src="/Public/assets/js/bootstrap.min.js"></script> 
	<script src="/Public/assets/js/jquery.uniform.js"></script> 
	<script src="/Public/assets/js/jquery.validate.js"></script> 
	<script src="/Public/assets/js/jquery.validate.msg.js"></script> 
	<script src="/Public/assets/js/matrix.js"></script> 
	<script src="/Public/js/ajaxService.js"></script>
	<script src="/Public/js/loading.js"></script>
	<script type="text/javascript" src="/Public/js/login.js"></script>
	<include file="common:server_config" />
	<block name="js_content"></block>
</body>
</html>
