<!DOCTYPE html>
<html lang="en">
<head>
<title>Matrix Admin</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/Public/assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="/Public/assets/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="/Public/assets/css/matrix-style.css" />
<link rel="stylesheet" href="/Public/assets/css/matrix-media.css" />
<link href="/Public/assets/css/font-awesome.css" rel="stylesheet" />
<!-- <link href='http://fonts.useso.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
 --></head>
<body>

<!--Header-part-->
<!--close-Header-part--> 

<!--top-Header-menu-->

<!--close-top-serch--> 
<div id="content" style="margin-left:40px;margin-right:40px;">
  <div id="content-header">
    <div id="breadcrumb"> <a href="/admin/login" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 返回登录</a>  </div>
    <h1>权限验证错误</h1>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-info-sign"></i> </span>
            <h5>权限验证错误</h5>
          </div>
          <div class="widget-content">
            <div class="error_ex">
              <h3>没有访问该链接的权限</h3>
              <p>获取足够页面权限，请邮件发送 xu.yafei@whaley.cn</p>
              <a class="btn btn-warning btn-big"  href="/admin/login">返回登录页面</a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Footer-part-->
<!--end-Footer-part-->
</body>
</html>
