<!DOCTYPE html>
<html lang="en">
<head>
<title>信息提示</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/Public/assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="/Public/assets/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="/Public/assets/css/matrix-style.css" />
<link rel="stylesheet" href="/Public/assets/css/matrix-media.css" />
<link href="/Public/assets/css/font-awesome.css" rel="stylesheet" />
</head>
<body>

<!--Header-part-->
<!--close-Header-part--> 

<!--top-Header-menu-->

<!--close-top-serch--> 
<div id="content" style="margin-left:40px;margin-right:40px;">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-content" style="background:#efefef none repeat scroll 0 0;">
            <div class="error_ex" style="text-align: center;">
              
              <img src="/Public/img/success.png" width="50px;"/>
              <h3>{$msg}</h3>
              
              <if condition="$is_show_button eq '1'">
              <a class="btn btn-warning btn-big"  href="javascript:history.go(-1)">返回上一层</a> 
              <a class="btn btn-warning btn-big"  href="/admin/jump">返回首页</a>  </if> </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Footer-part-->
<!--end-Footer-part-->
</body>
</html>
