<extend name="common:commonTemplate" />
<block name="main_content">
<div id="content">
	<div id="content-header">
		<div id="breadcrumb">
			<a class="tip-bottom" href="index.html"
				data-original-title="Go to Home"><i class="icon-home"></i> 首页</a>
			<a href="#">权限管理</a> <a class="current" href="#">区信息</a>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
					<div class="widget-title">
						<span class="icon"> <i class="icon-info-sign"></i>
						</span>
						<h5>搜索条件</h5>
					</div>
					<div class="widget-content nopadding">
						<form novalidate="novalidate" id="basic_validate"
							name="basic_validate" action="#" method="post"
							class="form-horizontal">
							<div class="control-group">
								<label class="control-label">省名称：</label>
								<div class="controls">
									<select id="province_id" >
									   <option value="">---请选择---</option>
									   <volist name="lst_province" id="province">
											<option value="{$province.province_id}">{$province.province_name}</option>
										</volist>
									</select>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">市名称：</label>
								<div class="controls">
									<input type="text" id="city_name" name="city_name">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">区名称：</label>
								<div class="controls">
									<input type="text" id="district_name" name="district_name">
								</div>
							</div>
							<div class="form-actions">
								<input id="btn_search" type="button" class="btn btn-success" value="搜索">
								<input id="btn_add" style="background:red" onclick="location.href='/ProvinceCityDistrict/adddistrict'" type="button" class="btn btn-success" value="新增">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	<div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
            <h5>搜索结果</h5>
          </div>
          <div class="widget-content nopadding">
            <table id="search_result" page_index="1" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>省ID</th>
                  <th>省名称</th>
                  <th>市ID</th>
                  <th>市名称</th>
                  <th>区ID</th>
                  <th>区名称</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
      </div>
    </div>
     </div>
		 <div id="paging" class="fg-toolbar ui-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix">
        	<div class="dataTables_paginate fg-buttonset ui-buttonset fg-buttonset-multi ui-buttonset-multi paging_full_numbers" id="DataTables_Table_0_paginate">
        		<a page_index="1" class="first ui-corner-tl ui-corner-bl fg-button ui-button ui-state-default" tabindex="0" id="DataTables_Table_0_first">首页</a>
        		<a class="previous fg-button ui-button ui-state-default" tabindex="0" id="DataTables_Table_0_previous">上页</a>
        		<span>共<span id="total_count">0</span>条 <span id="curr_page_index">0</span>/<span id="total_page">0</span></span>
       			<a class="next fg-button ui-button ui-state-default" tabindex="0" id="DataTables_Table_0_next">下页</a>
       			<a class="last ui-corner-tr ui-corner-br fg-button ui-button ui-state-default" tabindex="0" id="DataTables_Table_0_last">末页</a>
       			<span>
        			<span><input type="text" style="width:20px;" class="ui-state-default" id="jump_num"></span>
        			<a class="fg-button ui-button ui-state-default" id="DataTables_Table_jump" tabindex="0">跳转</a>
       			</span>
       		</div>
    	</div>
    </div>
	</div>
</div>
</block>

<block name="js_content">
<script >
	DistrictListPage = {
			'BindEvent': function(){
				$('#btn_search').bind('click', function(){
					var page_index = 1;
					DistrictListPage.Search(page_index);
				});
				$('#DataTables_Table_jump').bind('click',function(){
					var page_index =  $('#jump_num').val();
					if(!isNaN(page_index)){
						DistrictListPage.Search(page_index);
					}else{
					   alert("跳转必须页必须为数字");
					}
				});
				$(".first,.previous,.last,.next").bind('click', function(){
					if($(this).hasClass('ui-state-disabled')){
						return false;
					}
					var page_index = $(this).attr('page_index');
					if(page_index == undefined){
						page_index = 1;
					}
					DistrictListPage.Search(page_index);
				});
			},
			'Search': function(page_index){
				var province_id		= $('#province_id').val();
				var city_name		= $('#city_name').val();
				var district_name		= $('#district_name').val();
				var page_size		= 10;
				var result = DistrictListService.DistrictList(province_id,city_name,district_name,page_index, page_size);
				if(result.IsSuccess == 0){
					alert(result.ErrorMsg);
					return;
				}else{
					DistrictListPage.FillTable(result.Result.lst_district_en, page_index);
					DistrictListPage.SetPageIndex(result.Result.total_page, result.Result.total_count, page_index);
				}
			},
			'FillTable': function(lst_district_en, page_index){
				var html_array = new Array();
				if(lst_district_en.length > 0){
					for(var index in lst_district_en){
						var district_en = lst_district_en[index];
						html_array.push('<tr class="odd gradeX">');
						html_array.push('<td>' + district_en.province_id + '</td>');
						html_array.push('<td>' + district_en.province_name + '</td>');
						html_array.push('<td>' + district_en.city_id + '</td>');
						html_array.push('<td>' + district_en.city_name + '</td>');
						html_array.push('<td>' + district_en.district_id + '</td>');
						html_array.push('<td>' + district_en.district_name + '</td>');
						html_array.push('<td><div style="text-align:center;"><a style="color:blue;" href="/ProvinceCityDistrict/districtupdate?district_id=' + district_en.district_id + '">修改</a></div></td>');
						html_array.push('</tr>');
					}
				}
				else{
					html_array.push('<td style="text-align:center" colspan="6">没查到数据</td>');
				}
				
				var html = html_array.join('\r\n');
				$('#search_result tbody').html('');
				$('#search_result tbody').html(html);
				
				$('#search_result').attr('page_index', page_index);;
			},
			'SetPageIndex': function(total_page, total_count, page_index){
				$('#total_count').text(total_count);
				$('#total_page').text(total_page);
				$('#curr_page_index').text(page_index);
				page_index = parseInt(page_index);
				
				if(page_index == 1){
					$('#paging .first').addClass('ui-state-disabled');
					$('#paging .previous').addClass('ui-state-disabled');
					$('#paging .first').attr('page_index', 1);
					$('#paging .previous').attr('page_index', 1);
				}
				else{
					$('#paging .first').removeClass('ui-state-disabled');
					$('#paging .previous').removeClass('ui-state-disabled');
					$('#paging .first').attr('page_index', 1);
					$('#paging .previous').attr('page_index', page_index - 1);
				}
		
				if(total_page == page_index){
					$('#paging .last').addClass('ui-state-disabled');
					$('#paging .next').addClass('ui-state-disabled');
					$('#paging .last').attr('page_index', total_page);
					$('#paging .next').attr('page_index', total_page);
				}
				else{
					$('#paging .last').removeClass('ui-state-disabled');
					$('#paging .next').removeClass('ui-state-disabled');
					$('#paging .last').attr('page_index', total_page);
					$('#paging .next').attr('page_index', page_index + 1);
				}
		 },
	};
	$(document).ready(function(){
		DistrictListPage.BindEvent();
	});
</script>
</block>