<extend name="common:commonTemplate" />
<block name="main_content">
<div id="content">
	<div id="content-header">
		<div id="breadcrumb">
			<a class="tip-bottom" href="index.html"
				data-original-title="Go to Home"><i class="icon-home"></i> 首页</a> <a
				href="#">权限管理</a> <a class="current" href="#">市修改</a>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
					<div class="widget-title">
						<span class="icon"> <i class="icon-info-sign"></i>
						</span>
						<h5>市修改</h5>
					</div>
					<div class="widget-content nopadding">
						<form novalidate="novalidate" id="basic_validate"
							name="basic_validate" action="#" method="post"
							class="form-horizontal">
							<input type="hidden" id="district_id" name="district_id"	value="{$lst_district.district_id}" />
							<div class="control-group">
								<label class="control-label">市名称</label>
								<div class="controls">
									<input type="text" id="city_name" name="city_name" readonly="true" 	value="{$lst_city.city_name}" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">区名称</label>
								<div class="controls">
									<input type="text" id="district_name" name="district_name"	value="{$lst_district.district_name}" />
								</div>
							</div>
							<div class="control-group">
								<a id="btn_updateCity" class="btn btn-success">修改</a> 
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</block>


<block name="js_content"> <script>
		//修改页面资源管理信息
		$('#btn_updateCity').bind('click', function(){
			var district_id = $('#district_id').val();
			var district_name = $('#district_name').val();
			var result = DistrictListService.UpdateDistrict(district_id,district_name);
			if (result.IsSuccess == 0) {
				alert(result.ErrorMsg);
				return;
			} else {
				alert('操作成功');
				$('#promoter_status').text('有效');
			}
		});

</script> </block>